includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src

    level: 8

    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
